@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Alegreya", serif;
  background-color: #386980;
}

nav {
  height: 48px;
  background-color: #1c3147;
  padding-top: 8px;
  padding-left: 40%;
}

.logo {
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-size: 160px;
  height: 48px;
}

h1 {
  font-size: 68px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 70px;
  color: white;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 4px;
  color: tomato;
}

h4 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 6px;
  color: #1c3147;
}

h5 {
  font-family: "lato";
  margin-top: 56px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #285a90;
}

p {
  font-family: "lato";
  font-size: 20px;
  font-weight: 300;
}

.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url(./assets/img/hero-img.png);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.btn-primary {
  font-weight: 600;
  background-color: tomato;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-primary:hover {
  background-color: rgb(254, 131, 109);
}

.btn-primary:focus {
  background-color: rgb(255, 58, 23);
}

.btn-primary:active {
  background-color: rgb(255, 58, 23);
}

.container {
  margin-top: 25%;
  margin-bottom: auto;
}

.mapContainer {
  padding-top: 5%;
  background-color: #f8f5ee;
}
